.contenedorProductosCarrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedorProductoCarrito{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    width: 45rem;
    border-radius: 1rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(172, 171, 171, 0.78);
}

.ProductoCarritoInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.imagenProductoCarrito{
    border-radius: 1rem;
}

.infoProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.infoProducto p{
    margin: 0;
}
.infoProducto h5{
    margin: 0;
}

.precio{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.cantidadProductos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cantidadBoton{
    border: none;
    background-color: white;
}

.cantidadParrafo{
    margin: 0;
}

.precioTotal{
    opacity: 0.4;
    font-size: 18px;
    margin: 0;
}